body {
    background-image: url('../image/picture/o-THE-MATRIX-facebook.jpg.png');
    background-size: cover;
    overflow: hidden;
    font-family: 'Inconsolata', monospace;
}

body::before {
    background-color: green;
    mix-blend-mode: color-dodge;
    position: absolute;
    content: '';
    height: 50px;
    width: 100%;
    animation: scan 10s cubic-bezier(0.5, 0.5, 0.5, 0.5) infinite;
    z-index: -1;
}

.cabecalho {
    background-color: black;
    color: rgb(33, 211, 33);
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
}

.cabecalho h1,
.cabecalho h1::after {
    filter: drop-shadow(0 0 5px green);
}

.cabecalho h1::after {
    content: '_';
    animation: blink 0.9s none infinite;
}

main {
    color: white;
    margin: auto;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgb(31, 31, 31);
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(80, 80, 80) rgb(121, 121, 121) rgb(121, 121, 121) rgb(80, 80, 80);
    height: fit-content;
    width: fit-content;

    position: relative;
    overflow: hidden;
}

main::before {
    content: '';
    right: 110vw;
    height: 368px;
    width: 328px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.144), rgb(243, 243, 243));
    position: absolute;
    top: 0;
    transform: skewX(40deg);
    z-index: 1;
    animation: shiny 4s ease-in-out;
}

@keyframes shiny {
    0% {
        right: 100vw;
    }

    100% {
        right: -100vw;
    }
}

.from-to-section {
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    margin: 10px;
}

.from-to-section form {
    width: 40vw;
    display: flex;
    justify-content: space-between;
}

label {
    margin: 0 10px 0 0;
}

select {
    padding: 5px;
    width: 13vw;
}

option {
    border-radius: 0px;
    height: 10em;
}

option:target {
    background-color: #0a750a;
}

.from-to-section button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 15vw;
    transition: 1s;
}

button:hover {
    background-color: black;
    color: green
}

button:active {
    background-color: black;
    color: white;
}

.input-output-section {
    display: flex;
    width: 80vw;
    justify-content: space-around;
    margin: 10px 0;
}

fieldset {
    border-style: none;
    display: flex;
}

textarea {
    resize: none;
}

.input-area {
    transition: 1s;
    resize: none;
}

.output-area {
    color: #0a750a;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    49% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes scan {
    0% {
        bottom: 100vh;
    }

    80% {
        bottom: 0;
        height: 50px;
    }

    90% {
        height: 0px;
    }
}